body{
    margin: 0;
    padding: 0;
}
.our_project{
    padding-bottom: 60px;
}
.our_project img{
    width: 100%;
}
.our_project .container>div{
    padding: 2px 0;
}
.our_project .container>div>div{
    width:98%;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
.msg{
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: -70%;
    background-color: rgba(50, 52, 35, 0.55);
    border-bottom: 7px solid #ff4c4c;
}
.msg h3,
.msg span{
    color: white;
    margin-left: 15px;
}
.msg span{
    width: 70%;
    display: block;
}